@model HandleErrorInfo
@{
    ViewBag.Title = "Exception";
    var isDebug = System.Diagnostics.Debugger.IsAttached;
}

<div class="panel panel-danger">
    <div class="panel-heading">发生错误</div>

    <div class="panel-body">
        @if (isDebug) {
            <strong>@Model.Exception.Message</strong>
            <pre>@Model.Exception.StackTrace</pre>
        } else {
            <text>抱歉,服务正忙,请稍候重试.</text>
        }
    </div>
</div>