@model object
@{
    this.Layout = null;
    string propertyExpression = ViewBag.PropertyName;
    string containerClass = ViewBag.ContainerClass;

    RouteValueDictionary htmlAttributes = SharedTemplatesHelper.MargeClass(ViewBag);

    var metadata = ModelMetadata.FromStringExpression(propertyExpression, this.Html.ViewData);
    string fmt = ViewBag.Formart;
    if (string.IsNullOrWhiteSpace(fmt)
        && (
            metadata.ModelType.Equals(typeof(DateTime))
            || metadata.ModelType.Equals(typeof(Nullable<DateTime>)))
        ) {
        fmt = @"{0:yyyy\/MM\/dd}";
    }
}

<div class="@containerClass">
    @SharedTemplatesHelper.Label(ViewBag)
    @Html.TextBox(propertyExpression, null, fmt, htmlAttributes)
</div>