@model BaseMessage

<div class="panel panel-default">
    <div class="panel panel-body">
        @Html.DisplayForModel()
    </div>
</div>

@section styles{

    <style>
        .display-label{
            font-weight:bold;
            padding:10px 10px 5px 10px;
        }
        .display-field {
            padding:5px 10px 10px 10px;
        }
    </style>

}