<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="WeChatConfig" type="XXY.MessageCenter.WeChat.WeChatConfig,XXY.MessageCenter.WeChat" />
  </configSections>

  <WeChatConfig appID="wx66729459b64c23d5" secretKey="f4f29c616cd7bae5e66736b7d4588cf9" token="SZAMXvQ8b0n1TlH2lsApeg30peWMW4ycTIt6fAcZi9d" aesKey="56cargo" />
  
  
  <appSettings>

    <!--<add key="MSMQPath" value="FormatName:DIRECT=OS:xling\Private$\XXY.Mail" />
    <add key="ProcessedMSMQPath" value="FormatName:DIRECT=OS:xling\Private$\XXY.Mail.Failed"/>-->

    <!--<add key="MSMQPath" value="FormatName:DIRECT=TCP:192.168.0.233\Private$\Wait" />
    <add key="ProcessedMSMQPath" value="FormatName:DIRECT=TCP:192.168.0.233\Private$\Back"/>-->

    <add key="MSMQPath" value="FormatName:DIRECT=OS:wgx-pc\Private$\XXY.Mail" />
    <add key="ProcessedMSMQPath" value="FormatName:DIRECT=OS:wgx-pc\Private$\XXY.Mail.Failed"/>
  </appSettings>

  
  
  
  <system.net>
    <mailSettings>

      <!-- 开启 SSL 会报错 -->
      <!--<smtp from="xxx@qq.com">
        <network host="smtp.qq.com"
                 port="25"
                 enableSsl="false"
                 defaultCredentials="false"
                 userName="xxx@qq.com" password="xxx"
                 />
      </smtp>-->

      <smtp from="rg@56cargo.com">
        <network host="smtp.exmail.qq.com"
                  enableSsl="true"
                  defaultCredentials="false"
                  userName="rg@56cargo.com"
                  password="Qq1122"/>
      </smtp>


      <!--163 邮箱启用 Ssl 会报错，不启用 Ssl 可正常使用-->
      <!--<smtp from="xxx@163.com">
        <network host="smtp.163.com"
                 port="25"
                 enableSsl="false"
                 defaultCredentials="false"
                 userName="xxx@163.com"
                 password="xxx"/>
      </smtp>-->

    </mailSettings>
  </system.net>



  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>

    </assemblyBinding>
  </runtime>



  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>