<serviceHostingEnvironment multipleSiteBindingsEnabled="true">
  <serviceActivations>
    <add factory="XXY.MessageCenter.WcfServiceFactory" service="XXY.MessageCenter.ServiceImpl.TemplateServiceImpl" relativeAddress="Template.svc" />
    <add factory="XXY.MessageCenter.WcfServiceFactory" service="XXY.MessageCenter.ServiceImpl.QueueServiceImpl" relativeAddress="Queue.svc" />
    <add factory="XXY.MessageCenter.WcfServiceFactory" service="XXY.MessageCenter.ServiceImpl.TxtMessageViewServiceImpl" relativeAddress="TxtMsg.svc" />
  </serviceActivations>
</serviceHostingEnvironment>
