<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <alias alias="ICaching" type="XXY.Common.ICaching, XXY.Common" />
  <alias alias="InProcCache" type="XXY.Common.InProcCache, XXY.Common" />
  <alias alias="AppFabricCaching" type="XXY.Common.AppFabric.AppFabricCaching, XXY.Common.AppFabric" />

  <alias alias="ILog" type="XXY.Common.ILog, XXY.Common " />
  <alias alias="Logger" type="XXY.Common.Log4N.Logger, XXY.Common.Log4N" />

  <alias alias="IEnumDescriptionProvider" type="XXY.Common.IEnumDescriptionProvider, XXY.Common" />
  <alias alias="ILang" type="XXY.Common.MVC.ILang, XXY.Common.Mvc" />
  <alias alias="ResLang" type="XXY.MessageCenter.Lang, XXY.MessageCenter" />

  <container>
    <register type="ICaching" mapTo="AppFabricCaching" />
    <register type="ILog" mapTo="Logger" />
    <register type="ILang" mapTo="ResLang" />
    <register type="IEnumDescriptionProvider" mapTo="ResLang" />
  </container>
</unity>
