<services>

  <service name="XXY.MessageCenter.ServiceImpl.TemplateServiceImpl">
    <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="NoneSecurity"
      contract="XXY.MessageCenter.IService.ITemplateService" />    
  </service>

  <service name="XXY.MessageCenter.ServiceImpl.QueueServiceImpl">
    <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="NoneSecurity"
      contract="XXY.MessageCenter.IService.IQueueService" />
  </service>

  <service name="XXY.MessageCenter.ServiceImpl.TxtMessageViewServiceImpl">
    <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="NoneSecurity"
      contract="XXY.MessageCenter.IService.ITxtMessageViewService" />
  </service>  
  
</services>