<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 Web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  
    <connectionStrings>
      <add name="Entities" connectionString="DATA SOURCE=DB;PERSIST SECURITY INFO=True;USER ID=MESSAGECENTER;Password=MessageCenter" providerName="Oracle.ManagedDataAccess.Client"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

  <appSettings>
    <add key="MSMQPath" value="FormatName:DIRECT=OS:BACKEND\Private$\wait" 
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ProcessedMSMQPath" value="FormatName:DIRECT=OS:BACKEND\Private$\feedback"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  
  <SystemsConfig configSource="VConfigs\Release\SystemsConfig.config" xdt:Transform="Replace" />
  <log4net configSource="VConfigs\Release\log4net.config" xdt:Transform="Replace" />
  <dataCacheClient configSource="VConfigs\Release\DataCacheClient.config" xdt:Transform="Replace" />
  <PathConfig configSource="VConfigs\Release\pathConfig.config" xdt:Transform="Replace" />

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <sessionState configSource="VConfigs\Release\Session.config" xdt:Transform="Replace" />
  </system.web>

  <system.serviceModel>
    <bindings configSource="VConfigs\Release\WCF.Bindings.config" xdt:Transform="Replace" />
    <client configSource="VConfigs\Release\WCF.Client.config" xdt:Transform="Replace" />
  </system.serviceModel>
  
</configuration>
